{% extends 'base.html' %}
{% load i18n thumbnail i18n %}
{% load url from future %}

{% block content %}
<div class="row">
	{% for squak in squaks %}
	<div class="span12">
		<div class="row">
			<div class="span2">
				<a href="{% url 'user-squak-list' username=squak.owner.user.username %}">
					{% if squak.owner.photo %}
					<img src="{% thumbnail squak.owner.photo 80x80 %}">
					{% else %}
						{{ squak.owner.user.username }}
					{% endif %}
				</a>
			</div>
			<div class="span10">
				<div>
					{{ squak.date_created|date:"DATETIME_FORMAT" }}
				</div>
				{{ squak.text|urlizetrunc:40|linebreaks }}
			</div>
		</div>
		{% if not forloop.last %}<hr>{% endif %}
	</div>
	{% endfor %}
</div>

	{% if is_paginated %}
		{% include 'includes/pagination.html' with page_obj=page_obj %}
	{% endif %}

{% endblock %}