{% extends 'base.html' %}
{% load i18n thumbnail i18n %}
{% load url from future %}

{% block content %}
<div class="row">

	{% if not squaks %}
		<div class="span12">
			<p>{% blocktrans with user=squak.owner.user.username %}
				Sorry, {{ user }} has yet to squak!
				{% endblocktrans %}
			</p>
		</div>
	{% else %}
		<div class="span12">
			<div class="row">
				<div class="span6">
					<h1>@{{ squaker.user.username }}</h1>
					<p>{% blocktrans with join_date=squaker.user.date_joined|date:"DATETIME_FORMAT" %}
							Member since {{ join_date }}
						{% endblocktrans %}
					</p>
				</div>
				<div class="span6">
					<h3>{% trans "Bio" %}</h3>
					{{ squaker.bio|urlizetrunc:40|linebreaks }}
				</div>
			</div>
		</div>
	{% endif %}

	{% for squak in squaks %}
	<div class="span12">
		<div class="row">
			<div class="span2">
				<a href="{% url 'user-squak-list' username=squak.owner.user.username %}">
					{% if squak.owner.photo %}
					<img src="{% thumbnail squak.owner.photo 80x80 %}">
					{% else %}
						{{ squak.owner.user.username }}
					{% endif %}
				</a>
			</div>
			<div class="span10">
				<div>
					{{ squak.date_created|date:"DATETIME_FORMAT" }}
				</div>
				{{ squak.text|urlizetrunc:40|linebreaks }}
			</div>
		</div>
		{% if not forloop.last %}<hr>{% endif %}
	</div>
	{% endfor %}
</div>

	{% if is_paginated %}
		{% include 'includes/pagination.html' with page_obj=page_obj %}
	{% endif %}

{% endblock %}